<div class="container">
  <h2 class="page-title text-center">管理者側　不適切なレビューの管理</h2>
  <div class="row">
    <div class="col-6 d-grid gap-2 mx-auto">
      <div class="row">
        <table class='table'>
          <thead>
            <tr>
              <th>会員ID</th>
              <td><%= @user.id %></td>
            </tr>
            <tr>
              <th>ニックネーム</th>
              <td><%= @user.nickname %></td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <th>レビュー</th>
            </tr>
              <tbody>
                <% @reviews.each do |review| %>
                <%= link_to review_path(review.id) do %>
            <tr>
							<td>タイトル：<%= review.title %></td>
              <td>説明：<%= review.introduction %></td>
              <td><%= link_to "削除する", admin_review_path(review.id),  class: "btn btn-danger", method: :delete %></td>
            </tr>
                <% end %>
              <% end %>
              
              </tbody>
			 </table>
		  </div>
	  </div>
  </div>
 </div>
