<div class="container" style="height: 100vh;">
    <div class="row text-center" style="align-items: center;">
        <h1 class="px-3 mx-auto">About Fiji</h1>
    </div>
    <div class="row text-center" style="align-items: center;">
        <h5 class="px-3 mx-auto">
           Bula!!/ブラ！！</h5>

    <div class="swiper" style="width: 100%; height: 700px;">
            <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
              <!-- Slides -->
      <div class="swiper-slide"><%= image_tag 'mainmap.png', class: 'top-swiper-img' %></div>
      <div class="swiper-slide"><%= image_tag 'info1.png', class: 'top-swiper-img' %></div>
      <!--<h2>食文化について</h2>-->
      <div class="swiper-slide"><%= image_tag 'info2.png', class: 'top-swiper-img' %></div>
      <div class="swiper-slide"><%= image_tag 'info3.png', class: 'top-swiper-img' %></div>
      <div class="swiper-slide"><%= image_tag 'info4.png', class: 'top-swiper-img' %></div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    </div>
    </div>
</div>


<script>
  var swiper = new Swiper('.swiper', {
    loop: true,
    autoplay: {
      delay: 30000,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

