<div class="container-fluid">
  <div class="row justify-content-center mt-3">
    <h1 class="border-bottom border-gray">レビューの詳細画面</h1>
  </div>

    <div class="row">
    <div class="col-8">


      <h4>画像</h4>
        <% if @review.images.attached? %>
          <% @review.images.each.with_index(1) do |image, i| %>
            <%= image_tag image, alt: "#{@review.title}の画像#{i}", style: "width:100px;" %>
          <% end %>
        <% else %>
          no-image
        <% end %>


      <h4>カテゴリー</h4>
      <p><%=@review.category %></p>

      <h4>タイトル</h4>
      <p><%=@review.title %></p>

      <h4>感想</h4>
      <p><%=@review.introduction %></p>

      <%= link_to "編集", edit_review_path(@review.id) %>
      <%= link_to "削除", review_path(@review), method :delate %>


    </div>
  </div>
