<div class="container-fluid">
  <div class="row justify-content-center mt-3">
    <h1 class="border-bottom border-gray">管理者側　ユーザーの編集</h1>
  </div>

  <%= render 'admin/shared/error_messages', resource: @user %>
<div class="container p-5">
  <div class="row offset-md-2">
  <h1><%= @user.nickname %>さんの会員情報編集</h1>
  </div>
  <div class="row">
    <div class="col-8 offset-md-4">
  <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
        <table>
           <tr>
            <td><%= f.label :"会員ID" %></td>
            <td><%= @user.id %> </td>
          </tr>
          <tr>
            <td><%= f.label :"ニックネーム" %></td>
            <td><%= f.text_field :nickname %></td>
          </tr>
          <tr>
            <td><%= f.label :"メールアドレス" %></td>
            <td><%= f.email_field :email %></td>
          </tr>
          <tr>
            <td><%= f.label :"会員ステータス" %></td>
            <td>
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
            </td>
          </tr>
          <tr>
          </tr>
      </table>
    <%= f.submit '変更を保存', class:"text-center btn btn-outline-success" %>
  <% end %>
  </div>
</div>