<div class="container">
  <h2 class="page-title">管理者側　ユーザーの詳細</h2>
  <div class="row offset-md-1">
    <div class="col-8 left pb-4">
      <h3><%= @user.nickname %>さんの会員詳細</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-8 left">
      <table class="table">
        <tr>
          <th>会員ID</th>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <td><%= @user.nickname %><%= @user.nickname %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td><% if @user.is_deleted %>
            退会
            <% else %>
            有効
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-10 d-grid gap-2 d-md-flex justify-content-md-end">
      <div>
        <%= link_to '編集する', edit_admin_user_path(@user), class:"btn btn-sm btn btn-outline-success mr-2" %>
      </div>

    </div>

  </div>

    <h4>レビュー</h4>
			 <table class='table'>
          <thead>
            <tr>
              <th>タイトル</th>
              <th>説明</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>

  							<td><%= link_to admin_review_path(review.id) do %><%= review.title %><% end %></td>
                <td><%= review.introduction %></td>
                <td><%= link_to "削除", admin_review_path(review.id),  class: "btn btn-outline-danger", method: :delete %></td>

              </tr>
              <% end %>
          </tbody>
      </table>
</div>

