<!DOCTYPE html>
<html>
  <head>
    <title>Fiji-Bula-Cafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/c55389cdf8.js" crossorigin="anonymous"></script>

    <!-- Swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if request.fullpath.include? "/admin" %>
      <%= render 'layouts/admin-header' %>
    <% else %>
      <%= render 'layouts/user-header' %>
    <% end %>
    <main>
  </header>
    <%= yield %>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <% if admin_signed_in? %>
             <%= link_to "管理者ページ", root_path, class: "nav-link" %>
            <% else %>
             <%= link_to "管理者ページ", admin_session_path, class: "nav-link" %>
            <% end %>


            <p>© 2023 hanfirokiki</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>




